* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-size: 22px;
  padding: 20px 50px;
  background-color: rgba(30, 172, 227, 0.9);

  display: flex;
  align-items: center;
  justify-content: center;
}

div#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background: #3f3f3f;
  max-width: 600px;
  min-width: 550px;
  min-height: calc(100vh - 8vh);
  border-radius: 5px;
  padding: 10px 10px;
}

div#container ul {
  padding: 15px 10px;
}

div#container ul li {
  color: #fff;
  list-style-type: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

div#container li + li {
  margin-top: 20px;
}

button {
  color: #fff;
  border-radius: 4px;

  border: 0;
  padding: 10px 15px;
  cursor: pointer;

  font-weight: bold;
  font-size: 14px;
}

div#container li > button {
  margin-left: 20px;
  background: #ca4949;
}

div#container > button {
  background: #7159c1;
}
